[Unit]
Description=ECO Vendo Main
After=network.target eco-loadcell.service
Requires=eco-loadcell.service

[Service]
ExecStart=/usr/bin/python3 /home/eco/eco_vendo/main81.py
WorkingDirectory=/home/eco/eco_vendo
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
